<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE suite SYSTEM "http://tegtng.orq/tegtng-1.0.dtd" >-->
<suite name = "Sample Suite">
	<parameter name = "Product Name" value = "watch"></parameter>
	<parameter name = "Color" value = "Black"></parameter>
	<parameter name = "Product Code" value = "AX-500"></parameter>
	<parameter name = "Make" value = "2024"></parameter>
	<test name = "Testing Parameterization of Data">
	 <classes>
			<class name = "TestNGAnnotations.AnnotationSequence"></class>
	 </classes>
	</test>
	<test name = "Testing Parameterization of Data_2">
	<parameter name = "Product Name" value = "watch"></parameter>
	<parameter name = "Color" value = "white"></parameter>
	<parameter name = "Product Code" value = "AX-505"></parameter>
	<parameter name = "Make" value = "2023"></parameter>
	 <classes>
			<class name = "TestNGAnnotations.AnnotationSequence"></class>
	 </classes>
	</test>
</suite>
<!--<suite name = "Sample Suite">
	<test name = "Testing Groups in TestNG">
	 <groups>
	 	<define name = "ExecuteAllGropus">
	 		<include name = "AddItems"></include>
	 		<include name = "DeleteItems"></include>
	 		<include name = "DataPrep"></include>
	 		<include name = "Email"></include>
	 	</define>
	 	<run>
	 		<include name = "ExecuteAllGropus"></include>
	 		<exclude name = "Teardown"></exclude>
	 	</run>
	 	<run>
	 		<include name = "ExecuteAllGropus"></include>
	 		<include name = "AddItems"></include>
	 		<include name = "DeleteItems"></include>
	 		<include name = "DataPrep"></include>
	 		<include name = "Email"></include>
	 	</run>
	 </groups>
	 <classes>
			<class name = "TestNGAnnotations.Groups"></class>
	 </classes>
	</test>
</suite>-->
<!--<suite name = "Sample Suite">
	<test name = "Check Before Test and Before Class">
		<classes>
			<class name = "BeforeTest_BeforeClass.Class1"></class>
			<class name = "BeforeTest_BeforeClass.Class2"></class>
			<class name = "BeforeTest_BeforeClass.BeforeTestAndBeforeClassTest"></class>
			<class name = "TestNGAnnotations.AnnotationSequence"></class>
		</classes>
	</test>
</suite>-->